@model List<Student>

@{
    ViewData["Title"] = "All Students";
}
<h4><a asp-controller="Students" class="btn btn-primary" asp-action="Create">Add new student</a></h4>
@if (TempData["alert"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="btn-close" aria-label="Close" label data-bs-dismiss="alert"></button>
        <strong>Success!</strong> @TempData["alert"]
    </div>
}
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Age</th>
            <th>GPA</th>
            <th>GPA Scale</th>
            <th>Program</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var Student in Model) @*creates table row for each student in student list from model*@
        {
            <tr>
                <td>@Student.LastName</td>
                <td>@Student.FirstName</td>
                <td>@Student.Age</td>
                <td>@Student.GPA.ToString()</td>
                <td>@Student.GpaScale</td>
                <td>@Student.SchoolProgram?.SchoolProgramName</td> @*displays the program name rather than the program ID*@
                <td>
                    <a asp-controller="Student" asp-action="Edit" asp-route-id="@Student.StudentID">Edit</a> @*allows the user to access an edit page for that specific student*@
                    <span class="mx-1">|</span>
                    <a asp-controller="Student" asp-action="Delete" asp-route-id="@Student.StudentID">Delete</a> @*allows user to access a delete page for that specific student*@
                </td>
            </tr>
        }
    </tbody>
</table>
